:root {
	--var-dark: #0e2141;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	transition: 0.2s;
}

.toggle {
	display: flex;
	justify-content: space-between;
	width: 120px;
	height: 60px;
	cursor: pointer;
	position: relative;
	border-radius: 50px;
	transition: 0.2s;
}

.toggle i {
	text-align: center;
	font-size: 30px;
	width: 50%;
	line-height: 60px;
	z-index: 1;
}

.toggle .ball {
	width: 45px;
	height: 45px;
	position: absolute;
	margin: 7.5px;
	border-radius: 50%;
	transition: 0.3s ease-out;
}

input {
	display: none;
}



.light-theme {
	background: #fafafa;
}

.light-theme .toggle {
	background: linear-gradient(145deg, #e1e1e1, #fff);
	box-shadow: 3px 3px 4px #e6e6e6, -3px -3px 4px #ffffff;
}

.light-theme .toggle .bxs-sun {
	color: #fafafa;
}

.light-theme .toggle .bx-moon {
	color: #151d2a;
}

.light-theme .toggle .ball {
	background: #151d2a;
}



.dark-theme {
	background: var(--var-dark);
}

.dark-theme .toggle {
	background: var(--var-dark);
	box-shadow: 3px 3px 3px #0e131b, -3px -3px 3px #1c2739;
}

.dark-theme .toggle .bx-sun {
	color: #fafafa;
}

.dark-theme .toggle .bxs-moon {
	color: var(--var-dark);
}

.dark-theme .toggle .ball {
	background: #fafafa;
	transform: translateX(60px);
}
